html {
  display: table;
  margin: auto;
  height: 100%;
}

body {
    background-color: #05192D;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header { 
  text-align: center;
}

.logo {
  margin-bottom: 30px;
  border-bottom: 1px solid yellow;
}

.divpic {
  text-align: center;
}

a {
  text-decoration: none;
}

p { 
  color:white;
  margin-bottom: 50px;
}

.desc {
  text-align: center;
}

h1 {
    color: yellow;
    text-align: center;
  }
  
h2, ul, ol, li {  
    color: white;
    text-align:start 100px;
    list-style-position: inside;
    line-height: 25px;
  }

h2 {
  text-align: center;
  color: palevioletred;
  margin-top: 30px;
}

.pics {
    border: 3px solid rgb(255, 255, 255);
    width: 300px;
  }

  .subs {
    color: gray;
    font-size: 12px;
    text-align: center;
  }
  